body {
   background-color: #ffff;

}


.header { 
    font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #ffffff;
    border-style: solid;
    border-width: medium;
    border-color: #cccccc;
}